{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": [
      "plugin:react/recommended",
      "airbnb",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:import/typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": "latest",
      "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
    "rules": {
      "import/no-unresolved": "error",
      "comma-dangle": "off",
      "import/prefer-default-export": "off",
      "no-underscore-dangle": ["error", { "allow": ["_id"] }],
      "no-param-reassign": "off",
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "mjs": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
      ],
      "prettier/prettier": ["error", { "singleQuote": true }],
      "react/function-component-definition": [
        2,
        {
          "namedComponents": "arrow-function",
          "unnamedComponents": "arrow-function"
        }
      ],
      "react/jsx-filename-extension": [
        2,
        { "extensions": [".njs", ".js"] }
      ],
      "react/require-default-props": "off",
      "no-console": ["error", { "allow": ["error", "warn", "info"] }],
      "no-shadow": "off", // replaced by ts-eslint rule below
      "@typescript-eslint/no-shadow": "error",
      "react/jsx-props-no-spreading": "off"
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".njs", ".js"],
          "moduleDirectory": ["node_modules", "src/"]
        }
      }
    }
  }