@use '../../theme';

.chat-container {
  display: flex;
  flex-flow: column;

  padding: 8px;

  height: 100vh;
  width: 100%;
  flex: 1;

  background-color: theme.$background;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 2px;

  margin-bottom: 12px;

  border-radius: 8px;

  --content-height: 1.5rem;

  font-size: var(--content-height);

  height: 64px;

  background: rgba(0, 0, 0, 0.1);

  b {
    margin-top: 2px;
  }

  svg {
    width: var(--content-height);
    height: var(--content-height);
  }

  @media (min-width: 600px) {
    display: none;
  }
}
