@use '../../theme' as *;

.round-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  padding: 8px;

  cursor: pointer;

  border: none;
  border-radius: 50%;

  background-color: transparent;

  transition: 150ms;

  color: $black;

  &:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.1);

    svg {
      filter: contrast(1);
    }
  }

  &:not(:disabled):active {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.075);
    color: rgba(0, 0, 0, 0.5);
  }

  svg {
    font-size: 1.25rem;

    filter: contrast(0.8);
  }

  &.primary {
    color: var(--accent-color);
  }
}
