$background: #e6e6e6;
$background500: #bfbdbd;
$white: #efefef;
$black: #2a2a2a;
$blue: #2f609f;
$green: #29a046;
$red: #dc3c3c;
$orange: #da7743;

$primary: $red;

$dark_background: #1d1d1d;
$dark_background_darker: #070707;
$dark_background_text_color: #cdcdcd;

$light_background: #e6e6e6;
$light_background_lighter: #efefef;
$light_background_text_color: #2d2d2d;
