@use '../../theme';

.sidebar {
  display: flex;
  flex-direction: column;

  background-color: var(--accent-color);
  color: theme.$white;

  width: 20%;
  min-width: 200px;
  max-width: 320px;

  padding: 40px 24px;

  @media (max-width: 600px) {
    position: fixed;
    left: 0px;

    height: 100vh;
    width: 260px;

    transition: 300ms;

    z-index: 1;

    &[aria-hidden='true'] {
      left: -260px;
    }
  }
}

.sidebar-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  b {
    color: white;
  }

  img {
    width: 160px;
    height: 160px;
  }
}

.rooms {
  & > header {
    display: flex;
    align-items: center;
    gap: 4px;

    b,
    button {
      color: white;
    }
    button {
      padding: 4px;
    }
  }

  display: flex;
  flex-flow: column;
  gap: 4px;
  flex: 1;

  margin-top: 24px;
}

.room-list {
  display: flex;
  flex-flow: column;
  gap: 4px;

  overflow: hidden auto;
  max-height: 140px;

  padding-right: 8px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
  }
}

.room {
  margin-left: 4px;
  padding: 8px !important;

  font-size: 0.875rem;
  color: white;

  &[aria-current='false'] {
    color: #d1d1d1;
  }
}

.text-button {
  background: transparent;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  font-weight: 600;
  color: white;
  text-align: start;

  transition: 150ms;

  padding: 12px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}

.create-secret-room-button {
  margin-top: 32px;
}

.logout {
  margin-top: auto;
}
