@use '../../theme';

.sidebar {
  background-color: theme.$primary;
  color: theme.$white;

  width: 20%;
  min-width: 200px;
  max-width: 320px;

  padding: 40px 24px;

  @media (max-width: 600px) {
    position: fixed;
    left: 0px;

    height: 100vh;
    width: 260px;

    transition: 300ms;

    z-index: 1;

    &[aria-hidden='true'] {
      left: -260px;
    }
  }
}

.sidebar-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  b {
    color: white;
  }

  img {
    width: 160px;
    height: 160px;
  }
}

.rooms {
  & > header {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-bottom: 12px;

    b,
    button {
      color: white;
    }
  }

  display: flex;
  flex-flow: column;
  gap: 4px;

  margin-top: 24px;
}

.room {
  margin-left: 16px;

  color: white;

  user-select: none;

  filter: brightness(1);

  &[aria-current='false'] {
    filter: brightness(0.8);
  }

  cursor: pointer;

  &:hover {
    filter: brightness(1);
  }
  &:active {
    filter: brightness(0.7);
  }
}

.text-button {
  background: transparent;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  font-weight: 600;
  color: white;
  text-align: start;

  transition: 150ms;

  padding: 12px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}

.create-secret-room-button {
  margin-top: 12px;
}

.logout {
  margin-top: 90%;
}
