.dm-container {
  display: flex;
  flex-flow: wrap;
  gap: 7px;
  align-items: center;

  &.mine {
    justify-self: flex-end;
    flex-flow: row-reverse;

    .dm-message {
      flex-flow: row-reverse;
    }

    span,
    p {
      text-align: end;
    }
  }

  &:hover {
    p {
      opacity: 0.7;
    }
  }

  p {
    font-size: 0.675rem;

    transition: 150ms;

    opacity: 0.4;
  }
}

.dm-message {
  display: flex;
  align-items: center;
  gap: 4px;

  width: fit-content;

  img {
    height: 24px;
    width: 24px;
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}
